.app {
  font-family: Arial, sans-serif;
}

.App {
  padding-top: 6vw; /* Добавьте это, чтобы избежать перекрытия контента шапкой */
}

.container {
  max-width: 1920px; /* Установите желаемую максимальную ширину */
  min-width: 500px; /* Установите минимальную ширину */
  margin: 0 auto; /* Центрирование контейнера */
}











